<%= content_for :d_c_1 do%>
<div id="slider" class="bg">
	<div id="slider_content" class="to_center">
		<img src="/assets/slider_img.png" alt="">
		<div id="info">
			<div id="name">zippo svx</div>
			<div id="slogan">born to shoot</div>
		</div>
	</div>
	<div id="prev_slide"></div>
	<div id="next_slide"></div>	
</div>
<%end%>
<%= content_for :d_c_2 do%>
<div id="special_products">
	<div id="title_bar">
		<div id="prev"></div>
		<ul id="special_category_ul">
			<li><a href="#">futured</a></li>
			<li><a href="#">new item</a></li>
			<li><a href="#">top seller</a></li>
			<li><a href="#">top rating</a></li>
		</ul>
		<div id="next"></div>
	</div>
</div>
<div id="subscribe">
	
</div>
<div id="products_of_category">
	
</div>
<%end%>
